{% extends "base.html" %}
{% load static %}
{% block title %}Письмо успешно отправлено на почту{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% block nav %}
    {% include "nav.html" %}
{% endblock %}
{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Письмо успешно отправлено на почту</p>
        <form action="{% url 'index' %}">
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Перейти на главную</button>
            </div>
        </form>
    </div>
{% endblock %}