<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Письмо успешно отправлено на почту</title>
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
</head>
<body class="body">
<header class="header">
    {% include "nav.html" %}
</header>
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Письмо успешно отправлено на почту</p>
        <form action="{% url 'index' %}">
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Перейти на главную</button>
            </div>
        </form>
    </div>


</main>
{% include "footer.html" %}
</body>
</html>
